.container {
  display: flex;
}
.sidebar {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 200px;
}
.menu > div {
  margin-bottom: 15px;
}
.menuItem {
  display: block;
  text-decoration: none;
  color: black;
  border-radius: 8px;
  padding: 10px 15px;
  font-weight: 300;
}
.menuItemActive {
  background: var(--primary-color);
  color: var(--primary-color-contrast);
  box-shadow: 0px 5px 20px -5px var(--primary-color);
}
.menuCategory {
  color: grey;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.8em;
}
