.songList {
  padding: 20px;
  background: white;
  box-sizing: border-box;
}

.filters {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  & > * {
    margin-right: 20px;
  }
  & > div {
    position: relative;
    cursor: pointer;
    &:after {
      content: "";
      position: absolute;
      bottom: -10px;
      margin: auto;
      left: 0;
      right: 0;
      width: 0px;
      height: 0px;
      background: var(--primary-color);
      border-radius: 50%;
      transition: all 0.2s ease-in-out;
    }
    &.active:after {
      width: 6px;
      height: 6px;
    }
  }
}
