.difficulties {
  display: flex;
  overflow: auto;
}
.difficultyTag {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  height: 20px;
  line-height: 20px;
  border-radius: 10px;
  background: rgb(131, 131, 131);
  margin-right: 10px;
  font-size: 0.8em;
  transition: all 0.3s ease-in-out;
  &.easy {
    background: var(--easy-color);
    &.selected {
      box-shadow: 0 2px 7px var(--easy-color);
    }
  }
  &.normal {
    background: var(--normal-color);
    &.selected {
      box-shadow: 0 2px 7px var(--normal-color);
    }
  }
  &.hard {
    background: var(--hard-color);
    &.selected {
      box-shadow: 0 2px 7px var(--hard-color);
    }
  }
  &.expert {
    background: var(--expert-color);
    &.selected {
      box-shadow: 0 2px 7px var(--expert-color);
    }
  }
  &.expertPlus {
    background: var(--expertPlus-color);
    &.selected {
      box-shadow: 0 2px 7px var(--expertPlus-color);
    }
  }
}
