.difficulties {
  display: flex;
  overflow: auto;
}
.difficultyTag {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  height: 20px;
  line-height: 20px;
  border-radius: 10px;
  background: rgb(131, 131, 131);
  margin-right: 10px;
  font-size: 0.8em;
  &.easy {
    background: #80c883;
  }
  &.normal {
    background: #80b2c8;
  }
  &.hard {
    background: #c8b480;
  }
  &.expert {
    background: #c88080;
  }
  &.expertPlus {
    background: #db78de;
  }
}
